<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf8">
    <title>Chesters Challenge</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <div ng-controller="MainCtrl">
      <div class="jumbotron" ng-hide="hideBillboard">
        <img src="images/chester.gif" />
        <h1>Chester's Challenge Foo</h1>
        <p>Help Chester get grapes for supper!</p>
        <div class="pull-right"><button class="btn btn-default" ng-click="hide()">Hide</button></div>
      </div>
      <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <h3>Instructions</h3>
        <div class="btn-toolbar">
          <div class="btn-group">
            <button class="btn btn-primary" ng-click="addCmd('turnLeft')">
              <i class="glyphicon glyphicon-hand-left"></i>
              Turn Left
            </button>
            <button class="btn btn-warning" ng-click="addCmd('moveForward')">
              <i class="glyphicon glyphicon-arrow-up"></i>
              Move Forward
            </button>
            <button class="btn btn-info" ng-click="addCmd('turnRight')">
              <i class="glyphicon glyphicon-hand-right"></i>
              Turn Right
            </button>
          </div>
          <div class="btn-group">
            <button class="btn btn-primary" ng-click="play()">
              <i class="glyphicon glyphicon-play"></i>
            </button>
            <button class="btn btn-danger" ng-click="reset()">
              <i class="glyphicon glyphicon-refresh"></i>
            </button>
          </div>
        </div>
        <div class="list-group">
          <div class="list-group-item" style="height: 40px;" ng-repeat="cmd in instructions track by $index">
            <div class="pull-right" ng-click="instructions.splice($index, 1)"><i class="glyphicon glyphicon-trash"></i></div>
            <h5>
              <i ng-class="{ glyphicon: true,  'glyphicon-hand-left': cmd === 'turnLeft', 'glyphicon-hand-right': cmd === 'turnRight', 'glyphicon-arrow-up': cmd === 'moveForward'}"></i>
              {{cmd}}
            </h5s>
          </div>
        </div>

      </div>
      <div class="col-md-6">     
        <div class="pull-right"><span style="font-size: 2em;" class="badge">Score: {{score}}</span></div>

        <h3>Trail</h3>

        <table class="table table-bordered" border="1">
          <tr ng-repeat="row in rows">
            <td style="padding: 10px;" ng-repeat="col in row.cols">
              <img ng-src="{{col.value}}" height="32" width="32" />
            </td>
          </tr>
        </table>
      </div>
      </div>
      <div class="jumbotron" ng-hide="hideBillboard">
        <img src="images/chester.gif" />
        <h1>Chester's Challenge</h1>
        <p>Help Chester get grapes for supper!</p>
        <div class="pull-right"><button class="btn btn-default" ng-click="hide()">Hide</button></div>
      </div>

    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-audio/angular.audio.js"></script>
    <script src="bundle.js"></script>
  </body>
</html>
